{% extends '@Jerm/Modal/form.html.twig' %}

{% block form %}
    {{ form_row(form.password.first) }}

    <div class="progress-group">
        <span id="strengthText" class="progress-text">Strength</span>
        <div class="progress sm">
            <div id="strengthBar" class="progress-bar"></div>
        </div>
    </div>

    {{ form_row(form.password.second) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('libraries/zxcvbn/zxcvbn.js') }}"></script>
    <script src="{{ asset('app/js/password_reset.js') }}"></script>
{% endblock %}