{% extends '@Jerm/Modal/blank.html.twig' %}

{% block content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title">
            Task #{{ task.id }}

            {% if editable %}
                <a class="btn btn-sm modal_redirect" data-href="{{ path('update_task', { 'id': task.id }) }}">
                    <i class="fa fa-pencil"></i> Edit
                </a>
            {% endif %}

            {% if subscribed %}
                <a class="btn btn-sm modal_redirect"
                   data-href="{{ path('subscribe_task', { 'id': task.id }) }}">
                    <i class="fa fa-check-square-o"></i> Subscribed
                </a>
            {% else %}
                <a class="btn btn-sm modal_redirect"
                   data-href="{{ path('subscribe_task', { 'id': task.id }) }}">
                    <i class="fa fa-square-o"></i> Subscribe
                </a>
            {% endif %}

            <a class="btn btn-sm modal_redirect" data-href="{{ path('view_task', { 'id': task.id }) }}">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </h4>

        <small class="label label-{{ attribute(status_class, task.status) }}">{{ task.status }}</small>

        {% if task.public %}
            <small class="label label-success">Public</small>
        {% endif %}

        {% for tag in task.tags %}
            <small class="label label-default">{{ tag }}</small>
        {% endfor %}
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 user-block">
                {% if task.userCreated.profilePic is not null %}
                    <img class="img-circle" src="{{ asset('app/img/userProfile/' ~ task.userCreated.profilePic) }}">
                {% else %}
                    <img class="img-circle" src="{{ asset('bundles/jerm/img/avatar.gif') }}">
                {% endif %}
                <span class="username">{{ task.userCreated.fullName }}</span>
                <span class="description">Created on {{ task.dateCreatedString }}</span>
            </div>

            <div class="col-xs-12 col-sm-6">
                {% if task.document is not null %}
                    <a class="pull-right" href="{{ path('jerm_bundle_get_file', { 'entity': 'task', 'id': task.id }) }}">
                        <i class="fa fa-download"></i> {{ task.document }}
                    </a>
                    {% if editable %}
                        <br>
                        <a class="btn btn-sm text-red pull-right modal_redirect_confirm"
                           data-href="{{ path('task_delete_doc', { 'id': task.id }) }}"
                           data-message="Are you sure you want to remove {{ task.document }}">
                            <i class="fa fa-times-circle"></i> Remove
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal-body">
        <h4 class="modal-title">{{ task.title }}</h4>

        {% if task.description %}<p class="text">{{ task.description|raw|nl2br }}</p>{% endif %}

        {% if task.followUp %}
            <div class="panel panel-{{ attribute(status_class, task.status) }}">
                <div class="panel-body"><br>{{ task.followUp|raw|nl2br }}</div>
            </div>
        {% endif %}

        {% if target_diff_string is not null %}
            <p class="text-{{ target_diff_class }}">
                <i class="fa fa-{{ target_diff_icon }}"></i>
                {{ target_diff_string }} ({{ task.targetCompleteDateString }})
            </p>
        {% endif %}

        {% if task.dateCreated != task.dateUpdated %}
            <p class="text-muted">Last updated by {{ task.userUpdated.fullName }} on {{ task.dateUpdatedString }}</p>
        {% endif %}
    </div>

    <div id="note_view">
        {{ render(controller('App\\Controller\\NoteController::createAction', { 'entity': 'App:Task', 'id': task.id, 'lock': false })) }}
    </div>

    <div class="modal-footer">
        <button class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/task_view.js') }}"></script>
{% endblock %}