{% extends '@Jerm/Modal/blank.html.twig' %}

{% block content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title">
            Task #{{ task.id }}

            {% if editable %}
                <a class="btn btn-sm modal_redirect" data-href="{{ path('update_task', { 'id': task.id }) }}">
                    <i class="fa fa-pencil"></i> Edit
                </a>
            {% endif %}

            <a class="btn btn-sm modal_redirect" data-href="{{ path('view_task', { 'id': task.id }) }}">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </h4>

        <small class="label label-{{ attribute(status_class, task.status) }}">{{ task.status }}</small>

        {% if task.public == true %}
            <small class="label label-success">Public</small>
        {% endif %}

        {% for tag in task.tags %}
            <small class="label label-default">{{ tag }}</small>
        {% endfor %}
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6 user-block">
                <img class="img-circle" src="{{ asset('bundles/jerm/img/avatar.gif') }}" alt="User Avatar">
                <span class="username">{{ task.userCreated.fullName }}</span>
                <span class="description">Created on {{ task.dateCreatedString }}</span>
            </div>

            <div class="col-xs-6">
                {% if task.document is not null %}
                    <a class="pull-right" href="{{ path('jerm_bundle_get_file', { 'entity': 'task', 'id': task.id }) }}">
                        <i class="fa fa-download"></i> {{ task.document }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal-body">
        <h4 class="modal-title">{{ task.title }}</h4>

        {% if task.description %}<p class="text">{{ task.description|nl2br }}</p>{% endif %}

        {% if task.followUp %}
            <div class="panel panel-{{ attribute(status_class, task.status) }}">
                <div class="panel-body"><u>Follow-up</u><br>{{ task.followUp|nl2br }}</div>
            </div>
        {% endif %}

        {% if target_diff_string is not null %}
            <p class="text-{{ target_diff_class }}">
                <i class="fa fa-{{ target_diff_icon }}"></i>
                {{ target_diff_string }} ({{ task.targetCompleteDateString }})
            </p>
        {% endif %}

        {% if task.dateCreated != task.dateUpdated %}
            <p class="text-muted">Last updated by {{ task.userUpdated.fullName }} on {{ task.dateUpdatedString }}</p>
        {% endif %}
    </div>

    {# TODO: attachment, subbed users / sub-un-sub, tags, comments, history, target date #}

    <div class="modal-footer">
        <button class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/task_view.js') }}"></script>
    <script src="{{ asset('app/js/modal_redirect.js') }}"></script>
{% endblock %}