{% extends '@Jerm/Modal/blank.html.twig' %}

{% block content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title">
            Task #{{ task.id }}

            {% if editable %}
                <a class="btn btn-sm modal_redirect" data-href="{{ path('update_task', { 'id': task.id }) }}">
                    <i class="fa fa-pencil"></i> Edit
                </a>
            {% endif %}

            <a class="btn btn-sm modal_redirect" data-href="{{ path('view_task', { 'id': task.id }) }}">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </h4>

        <small class="label {{ attribute(status_class, task.status) }}">{{ task.status }}</small>
    </div>

    <div class="modal-body">
        <div class="user-block">
            <img class="img-circle" src="{{ asset('bundles/jerm/img/avatar.gif') }}" alt="User Avatar">
            <span class="username">{{ task.userCreated.fullName }}</span>
            <span class="description">Created on {{ task.dateCreatedString }}</span>
        </div>
    </div>

    <div class="modal-body">
        <h4 class="modal-title">{{ task.title }}</h4>

        {% if task.description %}<p class="text">{{ task.description|nl2br }}</p>{% endif %}

        {% if task.followUp %}<p class="text-info">Follow-up:<br>{{ task.followUp }}</p>{% endif %}
    </div>

    {# TODO: Subbed users, tags, comments, history, target date #}

    <div class="modal-footer">
        <button class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/modal_redirect.js') }}"></script>
{% endblock %}